<<<<<<< HEAD
body {
  font-family: Arial, sans-serif;
  background-color: #f4f8f4;
  margin: 0;
}

header {
  background-color: #0066cc;
  color: white;
  padding: 15px;
}

nav a {
  color: white;
  margin-right: 10px;
  text-decoration: none;
}

main {
  padding: 21px;
}
=======
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
}

header {
  background-color: #0066cc;
  color: white;
  padding: 15px;
}

nav a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
}

main {
  padding: 20px;
}
>>>>>>> c528c86936c1c87e7101b106de2d1dc1454073da
